<h1><%= @place["name"] %></h1>

<% if @place.entries.any? %>
  <ul>
    <% for entry in @place.entries %>
      <li>
        <strong> <%= entry["title"] %></strong> <br> 
        <small> <%= entry["posted_on"] %> </small> <br>
        <%= entry["description"] %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No posts yet.</p>
<% end %>

<!-- This link_to helper will still use dot notation for path helpers, which is standard in Rails. -->
<%= link_to 'Add New Post', new_entry_path(place_id: @place.id) %>
<%#= link_to 'Back to Places List', places_path %>

<p><a href="/places">Back to All Places</a></p>
